$mq-phone: 400px;
$mq-phone-wide: 480px;
$mq-phablet: 560px;
$mq-tablet-small: 640px;
$mq-tablet: 768px;
$mq-tablet-wide: 1024px;
$mq-desktop: 1248px;
$mq-desktop-wide: 1440px;

$breakpoints: (
        "phone":        $mq-phone,
        "phone-wide":   $mq-phone-wide,
        "phablet":      $mq-phablet,
        "tablet-small": $mq-tablet-small,
        "tablet":       $mq-tablet,
        "tablet-wide":  $mq-tablet-wide,
        "desktop":      $mq-desktop,
        "desktop-wide": $mq-desktop-wide
);